@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./shadcn-variables.css";

/* Add file to watch for changes in tailwind css */
@source '../**/*.hbs';
@source '../../**/*.hbs';
@source '../assets/**/*.{js,css,png,jpg,jpeg,gif,svg,webp,avif}';

@custom-variant dark (&:is(.dark *));

@theme {

  /* Ghost CMS fonts support and default font support as well */
  --font-heading: var(--gh-font-heading, var(--font-sans));
  --font-body: var(--gh-font-body, var(--font-sans));

}

@layer base {

  body {
    font-family: var(--font-body);
    font-weight: 400;
  }

  body :where(:not(h1, h2, h3, h4, h5, h6)) {
    font-family: var(--font-body);
  }

  /* Add the font on headings */
  body :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-heading);
    font-weight: 700;
  }

  /* Add the support fonts in tailwindcss-typography */
  .prose {
    --tw-prose-body: var(--font-body);
    --tw-prose-headings: var(--font-heading);
  }

  .prose :where(.kg-width-wide) {
    @apply relative w-screen left-1/2 right-1/2 -translate-x-1/2 max-w-5xl;
  }

  .prose :where(.kg-width-full) {
    @apply relative w-screen left-1/2 right-1/2 -translate-x-[52%] overflow-x-hidden;
  }

  .prose :where(.kg-card, .kg-image-card, .kg-gallery-card, .kg-embed-card, .kg-bookmark-card) figcaption {
    @apply text-sm text-center text-muted mt-2;
  }
}